/* styles.css */
html {
    transform: scale(0.8);
    /* Ensures scaling starts from the top left */
    transform-origin: top;
}

body {
    background-image: url('../assets/view.jpg');
    background-color: rgb(54, 54, 129);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Align children vertically */
    justify-content: flex-start;
    /* Align content from the top */
    align-items: center;
}

.game-title {
    font-size: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    /* White color, works well on darker backgrounds */
    background: -webkit-linear-gradient(45deg, #6D5ACF 30%, #DA4453 90%);
    /* Gradient effect */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    /* Center align the title */
    padding: 20px;
    /* Padding to ensure the gradient shows nicely */
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    /* Soft shadow for depth */
    margin-top: 5px;
    /* Space around the title */
    animation: shine 5s linear infinite;
    /* Optional: Adds a shining effect */
    margin-bottom: 50px;
}

@keyframes shine {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}

header {
    color: white;
    padding: 20px 20px;
    width: 100%;
    /* Ensures it spans the full width of the viewport */
    text-align: center;
    /* Center the text if needed */
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-gap: 120px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* Ensure it's not too close to the title */
}

.game-button {
    background-color: transparent;
    border: 10px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight: 1000;
    font-size: 80px;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 400px;
    /* Adjust width as needed */
    height: 400px;
    /* Adjust height as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Optional: adds a shadow for better visibility */
    
}

.game-button:hover {
    transform: scale(1.2);
    /* Optional: Button grows when hovered */
    color: rgb(167, 255, 137);
    border: 10px solid rgb(167, 255, 137);
}