/* styles.css */
body {
    background-image: url('../assets/view.jpg'); 
    /* Path to your arcade image */
    background-color: rgb(107, 107, 151);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title {
    font-size: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    /* White color, works well on darker backgrounds */
    background: -webkit-linear-gradient(45deg, #6D5ACF 30%, #DA4453 90%);
    /* Gradient effect */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    /* Center align the title */
    padding: 20px;
    /* Padding to ensure the gradient shows nicely */
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    /* Soft shadow for depth */
    margin-top: 20px;
    /* Space around the title */
    animation: shine 5s linear infinite;
    /* Optional: Adds a shining effect */
    margin-bottom: 500px;
}

@keyframes shine {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}

header {
    /* Dark background for the header */
    color: white;
    /* Light color for text */
    padding: 20px 20px;
    /* Padding around the text */
    position: absolute;
    /* Position it absolutely relative to the body */
    top: 0;
    left: center;
    
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    /* Creates 2 columns each 200px wide */
    grid-gap: 120px;
    /* Adjusts the spacing between grid items */
    justify-content: center;
    /* Centers the grid horizontally */
    align-items: center;
    /* Aligns items vertically */
    margin-top: 150px;
}

.game-button {
    background-color: transparent;
    border: 10px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-weight: 1000;
    font-size: 80px;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 400px;
    /* Adjust width as needed */
    height: 400px;
    /* Adjust height as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Optional: adds a shadow for better visibility */
    
}

.game-button:hover {
    transform: scale(1.2);
    /* Optional: Button grows when hovered */
    color: rgb(167, 255, 137);
    border: 10px solid rgb(167, 255, 137);
}